<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@vaccinateke" />
  <meta name="twitter:title" content="Covid-19 Vaccine Centers In Kenya" />
  <meta name="twitter:description" content="Search Covid-19 vaccincation centers around using our simple tool + other vaccincation information" />
  <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/1438580880776351760/R05i0Y5w_400x400.jpg" />


  <title>Covid-19 Vaccine Centers In Kenya</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'landingpage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'landingpage/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'landingpage/vendor/simple-line-icons/css/simple-line-icons.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="{% static 'landingpage/device-mockups/device-mockups.min.css' %}">

  <!-- Custom styles for this template -->
  <link href="{% static 'landingpage/css/new-age.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->

  <section class="download cta text-center" id="download">
    {% block content %}
    {% endblock %}
  </section>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'landingpage/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'landingpage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'landingpage/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'landingpage/js/new-age.min.js' %}"></script>

</body>

</html>