<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@vaccinateke" />
    <meta name="twitter:title" content="Covid 19 Vaccine Centers In Kenya" />
    <meta name="twitter:description" content="Search Covid 19 vaccincation centers around using our simple tool + other vaccincation information" />
    <meta name="twitter:image" content="https://c19vaccinecenters.herokuapp.com/static/landingpage/img/bg-cta.jpg" />

    <title>Covid 19 Vaccine Centers In Kenya</title>

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'new/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'new/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'new/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'new/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'new/vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'new/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'new/vendor/aos/aos.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'new/css/style.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    {% include "landingpage/partials/nav.html" %}

    <main id="main">
        {% block content %}
        {% endblock %}

        {% include "landingpage/partials/stats.html" %}
        {% include "landingpage/partials/news.html" %}
        {% include "landingpage/partials/faqs.html" %}
        {% include "landingpage/partials/contact.html" %}
    </main>

    {% include "landingpage/partials/footer.html" %}

    <!-- Vendor JS Files -->
    <script src="{% static 'new/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'new/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'new/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'new/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'new/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'new/vendor/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'new/vendor/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'new/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'new/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'new/vendor/aos/aos.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'new/js/main.js' %}"></script>

    <script src="{% static 'landingpage/js/custom.js' %}"></script>

</body>

</html>