<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Vaccine Registration</h2>
            <p>You can register for vaccination on the government portal below</p>


            <div class="info row justify-content-center">
                <div class="email col-lg-3">
                    <i class="icofont-web"></i>
                    <p><a href="https://portal.health.go.ke/" target="_blank">https://portal.health.go.ke/</a></p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Contact Section -->