<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo mr-auto"><a href="/">Vaccinate KE</a></h1>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li><a href="/">Search</a></li>
                <li><a href="/#stats">Stats</a></li>
                <li><a href="/#news">News</a></li>
                <li><a href="/#faqs">FAQs</a></li>
                <li><a href="/#contact">Vaccine Registration</a></li>

            </ul>
        </nav>
    </div>
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
    {% endif %}
</header><!-- End Header -->