<!-- ======= News Section ======= -->
<section id="news" class="news">
    <div class="container">

        <div class="section-title">
            <h2>News</h2>
            <p>Find latest news here</p>
        </div>

        <ul class="list-group list-group-flush news-items">
            <li class="list-group-item">
                <h5>News title - <small class="text-right">04-06-2021</small> </h5>
                Some news item <a href="#some-link">details</a>
            </li>
            <li class="list-group-item">
                <h5>Title 2 - <small class="text-right">04-06-2021</small></h5>
                Some news item 2 <a href="#some-link">details</a>
            </li>
        </ul>
    </div>
</section>