<section id="hero" class="d-flex align-items-centerr">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 text-center">
                <h2>Find Vaccination Centers Near You!</h2>
                <!-- <input class="" placeholder="Type to search..."> -->
                <form id="address-form" action="" method="post" autocomplete="off">
                    <!-- <label class="full-field"> -->
                    {% csrf_token %}
                    <input id="facility-address" placeholder="Type your location here.." name="facility-address" required
                        autocomplete="off" type="text" class="form-control w-40" />
                    <input type="hidden" id="center" name="center">
                    <!-- </label> -->
                    <button type="submit" class="mt-2 btn btn-primary mb-2 submit-address" id="submit-address">Submit
                        location</button>
                </form>
            </div>
        </div>
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{error_message}}
            </div>
        {% endif %}
        <ul class="list-group list-group-flush news-items">
            {% for facility in facilities %}
            <li class="list-group-item">
                <h5>{{ facility.name }}
                <a class="float:right" href="http://www.google.com/maps/place/{{facility.location}}" target="_blank"><img src="https://cdn.icon-icons.com/icons2/2642/PNG/512/google_map_location_logo_icon_159350.png" width="25px"></i></a>
                </h5>
                {{ facility.sub_county }}
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

<script>
    let autocomplete;
    let address1Field;

    function initAutocomplete() {
        address1Field = document.querySelector("#facility-address");
        // Create the autocomplete object, restricting the search predictions to
        // addresses in KE
        autocomplete = new google.maps.places.Autocomplete(address1Field, {
            componentRestrictions: { country: ["ke",] },
            fields: ["address_components", "geometry"],
            types: ["address"],
        });
        autocomplete.addListener("place_changed", fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        const place = autocomplete.getPlace();
        const lat = place.geometry.location.lat();
        const lng = place.geometry.location.lng()
        console.log(lat + "," + lng);
        document.getElementById('center').value = "{ lat: " + lat + ", lng: " + lng + "}";
    }

    function search() {
        $("form#address-form").submit()
    }
</script>

<script
    src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_API_KEY}}&callback=initAutocomplete&libraries=places&v=weekly"
    async></script>