<section id="hero" class="d-flex align-items-centerr">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 text-center">
                <h1>Find centers near you!</h1>
                <!-- <input class="" placeholder="Type to search..."> -->
                <form id="address-form" action="" method="post" autocomplete="off">
                    <label class="full-field">
                        {% csrf_token %}
                        <input id="ship-address" placeholder="Type your location here.." name="ship-address" required
                            autocomplete="off" type="text" />
                        <input type="hidden" id="center" name="center">
                    </label>
                    <button type="submit" class="btn btn-primary mb-2 submit-address" id="submit-address">Submit
                        location</button>
                </form>
            </div>
        </div>
        <!-- <div class="text-center">
            <a href="#" onclick="search()" class="btn-get-started scrollto">Search</a>
        </div> -->
    </div>
</section>

<script>
    let autocomplete;
    let address1Field;

    function initAutocomplete() {
        address1Field = document.querySelector("#ship-address");
        // Create the autocomplete object, restricting the search predictions to
        // addresses in KE
        autocomplete = new google.maps.places.Autocomplete(address1Field, {
            componentRestrictions: { country: ["ke",] },
            fields: ["address_components", "geometry"],
            types: ["address"],
        });
        autocomplete.addListener("place_changed", fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        const place = autocomplete.getPlace();
        const lat = place.geometry.location.lat();
        const lng = place.geometry.location.lng()
        console.log(lat + "," + lng);
        document.getElementById('center').value = "{ lat: " + lat + ", lng: " + lng + "}";
    }

    function search() {
        $("form#address-form").submit()
    }
</script>

<script
    src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_API_KEY}}&callback=initAutocomplete&libraries=places&v=weekly"
    async></script>