<!-- ======= Stats Section ======= -->
<section id="stats" class="counts">
    <div class="container">

        <div class="section-title">
            <h2>Stats</h2>
            <p>Latest covid-19 statistics </p>
        </div>

        <div class="row justify-content-end">
            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <span>100+</span>
                    <p>New Infections</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <span>0</span>
                    <p>New Deaths</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <span>500+</span>
                    <p>Recovered</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <span>300+</span>
                    <p>Recovered from based care</p>
                </div>
            </div>
        </div>
    </div>

    </div>
</section><!-- End Stats Section -->